################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ModernStore.Api/bin/Debug/net461
/.vs/config/applicationhost.config
/.vs/ModernStore/v15/Server/sqlite3/storage.ide-wal
/.vs/ModernStore/v15/Server/sqlite3/storage.ide-shm
/.vs/ModernStore/v15/Server/sqlite3/storage.ide
/.vs/ModernStore/v15/Server/sqlite3/db.lock
/ModernStore.Data
